.img_preview div {
	float:left;
	margin-right:20px;
}

.img_wrapper img {
	max-width:100%;
	max-height:100%;
}

.img_wrapper {
	width:320px;
	height:240px;
	border:2px solid grey;
	margin-top:20px;
	text-align:center;
}

textarea { resize:vertical !important }